.background-img {
    position: absolute;
    background-image: url('../img/background.jpg'); /* Replace with your image path */
    background-size: cover; 
    background-position: center; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
    background-repeat: no-repeat; 
    z-index: -1;
}

.quote-container {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    text-align: center;
    padding: 20px;
    max-width: 600px;
    z-index: 10;
}

.quote-text {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    max-width: 70%;
    line-height: 1.4;
}

.author-text {
    font-size: 1.2em;
    font-weight: normal;
    color: white;
    text-align: center;
    font-style: italic;
}

.quote-container::before {
    content: open-quote;
    font-size: 5em;
    color: #fff;
    position: absolute;
    top: -50px;
    left: -50px;
}

.quote-container::after {
    content: close-quote;
    font-size: 5em;
    color: #fff;
    position: absolute;
    bottom: -50px;
    right: -50px;
}